<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="OUTPUT_PATTERN" value="[%d{HH:mm:ss.SSS}] %-5level %logger{5} - %msg%n" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${OUTPUT_PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/../logs/webApp.txt</file>
		<append>true</append>
		<encoder>
			<pattern>${OUTPUT_PATTERN}</pattern>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>